.App {
  text-align: center;
}
/*
.composerPiecesFiles{
  width:100%;
  display: flex;
  justify-content: center;
}
.AppComposers{
  text-align: center;
  width:50%; 
}

.AppComposers h2, h3{
  color: blueviolet;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  width: 100%;
  height: 70px;
  margin-bottom: 40px;
  background-color: lightslategrey;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 150px;
  height: 40px;
  cursor: pointer;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

.loginPage{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.loginContainer {
  flex: 50%;
  height: auto;
  display: grid;
  place-items: center;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}
.loginContainer button {
  background-color: lightgray;
  color: navy;
}

.loginContainer input {
  border: 2px solid lightslategrey;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 400px;
  height: auto;
  padding: 20px;
  border: 5px solid lightslategrey;
  border-radius: 5px;
  margin-left: 20px;
}

.formContainer #inputCreatePost {
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightgray;
  border-radius: 5px;
  color: navy;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: lightgray;
}
*/
span {
  color: red;
}
/*
.composers button{
  text-align: left;
  padding: 20px;
  width:100%;
}
.composers button:hover{
  color:blueviolet;
}

.biography button{
  text-align: left;
  padding: 20px;
  width:100%;
}

#pieces{
  width: 100%;
  text-align: left;
  padding: 20px;
  overflow-y:scroll;
  height: 120px;
  border-bottom:none;
  border-radius: 7px;  
  scrollbar-width: thin;
}
*/
.composersTd{
  height:100px;
  text-align: left;
  overflow-y:scroll;
  border-radius: 3px;  
  scrollbar-width: thin;
}
/*
.img{
  width:100%;
  height:100px;
}
.biograpphy img{
  width:15%;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(59, 62, 73);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 54, 54); 
}

.container .composer{
  text-align: left;
  margin-top: 50px;
}
 .dashboard{
  width: 30%;
 }

.profile:hover{
  opacity: 50%;
  color:rgb(47, 35, 35);
}
